section
  .container
    .row
      .col-lg-12
        h1.page-header {{carnetsanteCtrl.viewStrings.title}}
        div#advice
          ul(ng-repeat='item in carnetsanteCtrl.viewStrings.advice')
            li.advice.carnetsante {{item.type}}
                    i.app-icon.carnet-sante
                    p {{item.title}}
  .container
    .row
      .col.col-2.text-right
        btn.btn.btn-primary(href="#" ng-click="addEvent()") ADD_ONE_ELEMENT
  .container
    .row
      .col.col-12
        p.label.label-default juillet 2016
  .container
    .row
      .col.col-12
        div(ng-repeat='item in carnetsanteCtrl.events')
          p.label.label-default {{item.date | date: 'MMM d' }}
          p {{item.type}}
          p {{item.title}}
          p {{item.description}}
          p {{item.contact}}          

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     </ul>
